*.app
*.flf
*.bclicense
*.g.xlf
.DS_Store
Thumbs.db
BuildOutput.txt
rad.json
.output/
.dependencies/
.buildartifacts/
.alpackages/
.packages/
.alcache/
.altemplates/
.altestrunner/
.snapshots/
cache_*
~$*
